html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

.panel-red{
  border: 1px solid red;
}

.sel{
  /*border: 2px solid grey;*/
}

.sel-active{
  border: 2px dashed lightseagreen;
}

.f1-active{
  background-color: #c9e2b3;
}

#mainContainer{
  overflow-y: scroll;
  padding-top: .5em;
  padding-bottom: .5em;
}
