html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

.panel-red{
  border: 1px solid red;
}

.dcs-list{
  margin-bottom: 5px;
}

.sel-active{
  border: 2px dashed lightseagreen;
}

.f1-active{
  background-color: #f9f9f9;
}

#mainContainer{
  overflow-y: auto;
  padding-top: .5em;
  padding-bottom: .5em;
}
.panel {
  margin-bottom: 5px;
}
.panel-body {
  padding: 5px!important;
}
